.solnce {
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background: radial-gradient(#fff, var(--gray));
    position: fixed;
    top: 2vh;
    right: 10vw;
    z-index: 1;
    animation: vremy 600s linear forwards normal infinite running;
}

@keyframes vremy {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-90vw, 0);
    }
}